# Node dependencies
frontend/node_modules
frontend/build

# Python dependencies
backend/__pycache__/
backend/*.pyc
backend/instance/
backend/.pytest_cache
backend/venv/
backend/env/
backend/*.db

# Environment variables
*.env

# Docker files
docker-compose.override.yml

# System files
.DS_Store
Thumbs.db
.idea/
.vscode/
